doctype html
html
    head
        title Checkout
        link(rel='stylesheet', href='/static/style.css')
    body
        .demo-container
            h1 Simple Checkout
            form(action='/checkout', method='post')
                input(type='hidden', name='reference', value=reference)
                input(type='hidden', name='type', value='MERCHANT')
                input(type='hidden', name='amount', value=amount)
                input(type='hidden', name='description', value=description)

                div(style='text-align:left; padding:20px')
                    h4 Order &nbsp;
                        em="(Ref#" + reference + ")"
                    div Amount:&nbsp;&nbsp;
                        b=amount
                            | &nbsp;&nbsp;
                        select(name='currency')
                            option(value='KES') KES
                            option(value='UGX') UGX
                            option(value='USD') USD
                        sup &nbsp;*
                    div Description:&nbsp;&nbsp;
                        b=description

                div(style='text-align:left;')
                    h4 Customer Details
                    input(type='text', name='first_name', value='' placeholder='First Name' required='required')
                    input(type='text', name='last_name', value='' placeholder='Last Name' required='required')
                    input(type='email', name='email', value='' placeholder='Email' required='required')
                    input(type='text', name='phone', value='' placeholder='Phone Number' required='required')

                table(width='50%', align='center')
                    tr
                        td
                            input(type='submit', value='Mobile Payment', class='button', name='mobile')

                        td
                            input(type='submit', value='Credit Card Payment', class='button', name='credit_card')

                        td
                            input(type='submit', value='Payment on PesaPal', class='button', name='pesapal')
                small
                    sup *&nbsp;
                    | Pesapal amount limits apply.
                    | Amount will be converted to merchant's currency if need be.